/* colors, monokai-pro */

* {
    al:                     #00000000;
    bg:                     #2D2A2Eff;
    fg:                     #FFF1F3ff;
    ac:                     #85DACCff;
    se:               		#85DACCff;
}
